In [1]:
#code to read data from snowflake using FosforML
from fosforml.model_manager.snowflakesession import get_session
 
my_session = get_session()
table_name = 'CUSTOMER_TRANSACTION_DIM1'
sf_df = my_session.sql("select * from {}".format(table_name)) #Table info sf_df madhe ghetli
 
df = sf_df.to_pandas() #table la data frame madhe store krto
print(df.shape) #for record count
 
df.head(10) #to see data

(122882, 29)

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,...,MARITAL_STATUS,GENDER,DEPENDENTS,BANK_ACCOUNT_TYPE,BALANCE,BALANCE_FREQUENCY,CREDIT_LIMIT,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX
0,PNC8037640c-94ea-4339-9665-ae95266fb,FEMALE,49,Undisclosed,Undisclosed,2000-05-12,Undisclosed,101.124,0.0,103.986,...,Single,West,No Dependents,Savings,42.332275,Very high,1050.0,0.000000,0.0000,0.00
1,PNCa191f74d-5afb-48f6-86eb-8b192cc6f,FEMALE,30,Undisclosed,Undisclosed,2006-05-12,Undisclosed,98.739,0.0,103.032,...,Single,West,No Dependents,Savings,38.446704,Very high,1090.0,0.000000,0.0000,0.00
2,PNC4dcce459-619d-4bc1-b4f9-3f33c4b20,MALE,20,Undisclosed,Undisclosed,2021-04-12,Undisclosed,98.739,0.0,89.676,...,Single,West,No Dependents,Savings,37.219682,High,910.0,0.000000,0.0000,0.00
3,PNC17e507c0-0854-4785-8aa0-d77e1be74,FEMALE,25,Undisclosed,Undisclosed,2022-06-12,Undisclosed,102.078,0.0,88.722,...,Single,West,No Dependents,Savings,42.945786,High,940.0,0.000000,0.0000,0.00
4,PNCbc85f095-e62d-4b8f-9a57-22ea37cc2,MALE,61,Undisclosed,Undisclosed,2007-08-12,Undisclosed,0.000,0.0,0.000,...,Married,North,Two Dependents,Credit,3202.467416,Very high,7000.0,6442.945483,0.2500,4.00
5,PNC733a5231-f01f-48a5-86ea-c87cee450,FEMALE,61,Undisclosed,Undisclosed,2005-06-12,Undisclosed,0.000,0.0,0.000,...,Married,North,Two Dependents,Credit,3458.664809,Very high,6755.0,6668.448575,0.2375,4.14
6,PNCfb2e4a19-a9a6-468d-bb03-eaccc956e,FEMALE,20,Undisclosed,Undisclosed,2020-12-12,Undisclosed,0.000,0.0,0.000,...,Married,North,Two Dependents,Credit,2914.245349,Very high,7245.0,6120.798209,0.2350,3.76
7,PNC33c4a97f-d846-48ba-b79b-89baf176e,FEMALE,69,Undisclosed,Undisclosed,2013-12-12,Undisclosed,0.000,0.0,0.000,...,Married,North,Two Dependents,Credit,2978.294697,Very high,6440.0,5991.939299,0.2700,4.32
8,PNCf5af0140-8df0-47d9-81d0-6999f0141,MALE,34,Undisclosed,Undisclosed,2010-08-12,Undisclosed,0.000,0.0,0.000,...,Married,North,Two Dependents,Credit,2978.294697,Very high,6755.0,6217.442391,0.2650,3.68
9,PNCba449621-9c14-44a2-9b19-df5ad36e9,MALE,22,Undisclosed,Undisclosed,2019-12-12,Undisclosed,0.000,0.0,0.000,...,Married,North,Two Dependents,Credit,3490.689483,Very high,7560.0,6829.522212,0.2275,3.64

In [2]:
type(df)

pandas.core.frame.DataFrame

In [3]:
df.shape

(122882, 29)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122882 entries, 0 to 122881
Data columns (total 29 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   CUSTOMER_ID                       122882 non-null  object
 1   SEX                               122882 non-null  object
 2   AGE                               122882 non-null  int8
 3   OCCUPATION                        122882 non-null  object
 4   EDUCATION_LEVEL                   122882 non-null  object
 5   REGISTRATION_DATE                 122882 non-null  object
 6   HOBBIES                           122882 non-null  object
 7   PURCHASES                         122882 non-null  float64
 8   ONEOFF_PURCHASES                  122882 non-null  float64
 9   INSTALLMENTS_PURCHASES            122882 non-null  float64
 10  PURCHASES_FREQUENCY               122882 non-null  object
 11  ONEOFF_PURCHASES_FREQUENCY        122882 non-null  object
 12  PURCHASES_INSTALLMENTS_FREQUENCY  122882 non-null  object
 13  PURCHASES_TRX                     122882 non-null  float64
 14  PAYMENTS                          122882 non-null  float64
 15  MINIMUM_PAYMENTS                  122882 non-null  float64
 16  PRC_FULL_PAYMENT                  122882 non-null  float64
 17  DATE                              122882 non-null  object
 18  EMPLOYMENT_STATUS                 122882 non-null  object
 19  MARITAL_STATUS                    122882 non-null  object
 20  GENDER                            122882 non-null  object
 21  DEPENDENTS                        122882 non-null  object
 22  BANK_ACCOUNT_TYPE                 122882 non-null  object
 23  BALANCE                           122882 non-null  float64
 24  BALANCE_FREQUENCY                 122882 non-null  object
 25  CREDIT_LIMIT                      122882 non-null  float64
 26  CASH_ADVANCE                      122882 non-null  float64
 27  CASH_ADVANCE_FREQUENCY            122882 non-null  float64
 28  CASH_ADVANCE_TRX                  122882 non-null  float64
dtypes: float64(12), int8(1), object(16)
memory usage: 26.4+ MB

In [ ]:
df.describe()